.App {
  text-align: center;
}

body {
  height: 200vh;
}

.done {
  text-decoration: line-through;
  text-decoration-color: red;
  text-decoration-style: wavy;
  opacity: .5
}

.box {
  height: 100px;
  width: 100px;
  border: solid black;
  margin: 10px;
  animation: spin 3s infinite linear;
}

.box-container {
  border: 1px solid #999999;
  display: flex;
  margin: 0 auto;
  justify-content: space-evenly;
  position: relative;
  top: 100px;
}

/* @keyframes spin {
  from {
  transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg)
  }
} */

